<%%= form_for @<%= singular_table_name %> do |f| %>

<% attributes.each do |attribute| -%>
  <div class="clearfix <%%= "error" if f.has_errors?(:<%= attribute.name %>) %>">
    <%%= f.label :<%= attribute.name %> %>
    <div class="input">
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
      <%%= f.errors_for :<%= attribute.name %> %>
    </div>
  </div>

<% end -%>
  <div class="actions">
    <%%= f.submit class: "btn primary" %>
    <%%= link_to 'Cancel', <%= index_helper %>_path, class: "btn" %>
  </div>

<%% end %>
