<div class="topbar">
  <div class="fill">
    <div class="container">
      <a href="#" class="brand">Senddit</a>
      <div class="pull-right">
        <% if user_signed_in? %>
          <ul class="secondary-nav">
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle"><%= current_user.email %></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <%= form_tag user_session_path do %>
            <%= text_field_tag "user[email]", '', class: "input-small", placeholder: "Email" %>
            <%= password_field_tag "user[password]", '', class: "input-small", placeholder: "Password" %>
            <%= button_tag "Sign in", class: "btn", id: "header_sign_in" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
